<a class="general-enclosed foundicon-address-book"></a>

<span>added a friend</span>
<br>
<% if activity.trackable %>
  <%= link_to activity.trackable.friend.full_name, activity.trackable.friend %>
<% else %>
  which has since been removed
<% end %>

