<% content_for :title, title('Users') %>

<h3 class="subheader">
  Users
  <%= search_form_for @search, method: :get, id: 'search-users', class: 'search-form'  do |f| %>
      <%= link_to '', users_path, class: 'general-enclosed foundicon-search', onclick: "$('#search-users').submit()" %>
      <%= f.text_field :profile_first_name_or_profile_last_name_cont, placeholder: 'search' %>
  <% end %>
</h3>

<div class="users">
  <% @users.in_groups_of(6) do |group| %>
    <div class="row">
      <%= render :partial => 'users/user', :collection => group %>
    </div>
  <% end %>
</div>
