<a class="general-enclosed foundicon-edit"></a>

<span>updated a profile</span>
<br>
<% if activity.trackable %>
  <%= link_to activity.trackable.full_name, activity.trackable %>
<% else %>
  which has since been removed
<% end %>

