/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "compass";
@import "compass/css3/pie";
@import "foundation_and_overrides";
@import "foundation-datepicker";
@import 'foundation-icons';
@import "mixins";
@import "config.css.scss";
@import "notification";
@import "pages/users";
@import "pages/home";
@import "pages/questions";

html,
body {
   margin:0;
   height:100%;
}

body {

  min-height:100%;

  section#main {

  }

  .row {
    max-width: $content-width;
  }

  nav.top-bar {
    margin-bottom: 0;
    //@if $topbar-bg-is-gradient {
    //  @include gradient ($topbar-bg-gradient, $topbar-bg);
    //} @else {
    //  background: $topbar-bg;
    //}
    //@include box-shadow(0px, 0px, 11px, 5px, rgba(0, 0, 0, 0.2));
  }
  .contain-to-grid {
    background: transparent;
  }

  header {
    background: $topbar-bg;

    .row {
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      border-right: 1px solid rgba(255, 255, 255, 0.2);
    }

    h1 {
      display: inline-block;
      float: left;
    }

    #user-email:hover {
      color: lighten($blue-color, 50%);
      //text-shadow: 0 0 6px lighten($blue-color, 30%);
    }

    #search {
      form {
        display: inline-block;
      }
    }
  }

  .main-sub-nav {
    height: 170px;
    background: $primary-color;

    span {
      font-weight: bold;
      color: white;
    }

    ul {
      margin: 30px auto 0;
      width: $content-width;
      list-style: none;

      li {
        display: block;
        float: left;
        line-height: 1;
        padding: 0;
        margin: 0;

        a {
          color: #FFFFFF;
          cursor: pointer;
          display: block;
          font-weight: bold;
          margin: 0;
          padding: 10px 14px;
          text-align: center;
          text-decoration: none;
        }
      }

      li.active,
      li:hover {
        a {
          background: lighten($primary-color, 10%);
          border-radius: 0;
          padding-bottom: 44px;
        }
      }
    }
  }

  #content {
    min-height: emCalc(500px);
    margin: -70px auto 0;
    width: $content-width;
    background: #ffffff;
    @include box-shadow(0px, 0px, 15px, 0px, rgba(0, 0, 0, 0.2));
    padding: 31px 30px 50px 30px;

    &:after {
      clear: both;
    }

    &:before,
    &:after {
        content: " ";
        display: table;
    }

    content: " ";
    display: table;
  }

  footer {
    margin-top: emCalc(60px);

    .footer-top {
      color: #ffffff;
      font-family: "Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif;
      margin-top: 1em;
      padding: 10px 0;
      background: $primary-color;


      .row {
        .columns {
          border-left: 1px solid rgba(255, 255, 255, 0.2);
          padding: 40px 0;
          text-align: center;
        }

        .columns:first-of-type {
          border-left: 1px solid transparent;
        }
      }
    }

    .footer-bottom {
      background: $topbar-bg;
    }

    ul.inline-list {
      margin: 10px 0;
    }
  }

  h3.subheader, h4.subheader {
    border-bottom: 1px solid $border-color;
    padding-left: $header-padding;
    margin-top: 0;

    .search-form {

      float: right;
      margin: 0;
      width: 30%;

      a {
        float: right;
        font-size: 19px;
        margin-top: 4px;

        &:hover {
          color: darken($primary-color, 10%);
        }
      }

      input {
        height: 25px;
        font-size: 12px;
        padding: 2px 7px;
        float: left;
        width: 90%;
        margin-top: 6px;
      }
    }

  }

  .sub-nav {
    //margin: $sub-nav-list-margin;
    margin: 0;
    padding: 0;

    a:hover {
      color: darken($primary-color, 5%);
    }
  }
}

form.formtastic {
  margin: 0 auto;
  width: $content-width*0.8;
  float: none;
  display: table;

    fieldset {
      float: left;
      width: 100%;
    }

    abbr[title="required"] {
      margin: 0 0 0 5px;
      color: $red-color;
    }

    ol {
      list-style: none;

      .boolean {
        label {
          padding-top: 0;
        }
      }

      & > li {

        width: 100%;
        float: right;

        textarea,
        input {
          padding: emCalc(7px);
          float: left;
        }

        textarea {
          resize: vertical;
        }

        input[type="checkbox"] {
          margin: 7px 10px 20px 0;
        }

        textarea,
        input[type="text"],
        input[type="file"],
        input[type="password"],
        input[type="email"]{
          width: 80%;
        }

        label {
          background: transparent;
          color: $blue-color;
          font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
          font-weight: 300;
          font-size: emCalc(16px);
          padding: emCalc(7px);
          margin-right: emCalc(20px);
        }

        p {
          color: $body-font-color;
          font-size: emCalc(12px);
          font-weight: 300;
          float: left;
          margin: -$form-spacing 0 $form-spacing 0;
          width: 100%;
          letter-spacing: 1px;
        }
      }

      & > li:last-child {
        input {
          margin-bottom: 0;
        }
      }
    }
  }
